@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>
@(Html.Kendo().Grid<CaseXL.ViewModels.ClientVM>().Name("grdusers")

    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Visible(false);
        columns.Bound(c => c.Full_Name);
        columns.Bound(c => c.Email);
        columns.Bound(c => c.Signup_Date).Format("{0:dd/MMM/yyyy}");

    })
         .DataSource(dataSource => dataSource
         .Ajax()
         .Read(read => read.Action("_Clients", "Client"))
         .Create(create => create.Action("_ClientCreate", "Client"))
         .Update(update => update.Action("_ClientUpdate", "Client"))
                )
                  .Pageable()
                  .Groupable()
                  .Resizable(res => res.Columns(true)
                  )
                .Reorderable(red => red.Columns(true))
                .Navigatable(nav => nav.Enabled(true))
                .Sortable()
                .Selectable()
                .Filterable()
                    .ClientDetailTemplateId("tmp_clientCase")
                )
<script id="tmp_clientCase" type="text/kendo-tmpl">
     <div style="padding:5px;border-radius:4px;background:lightgray">
     <div style="border:1px solid gray;border-radius:3px;background:lightgray">
     <div align="center" style="font-weight:bold">Questions</div>
        @Html.Partial("_greenBar")
@(Html.Kendo().Grid<CaseXL.ViewModels.CaseVM>().Name("grdcaseDetailsClients")

    .Columns(columns =>
    {
        columns.Bound(c => c.Case_Id).Visible(false);
        columns.Bound(c => c.Caption).Template(@<text></text>)
        .ClientTemplate(@"<a class=""k-button-icontext k-grid-edit"" href=""\#"">#=Caption#</a>");
        columns.Bound(c => c.Case_Number).Visible(true).Title("Case Number");

        columns.ForeignKey(c => c.Case_Type, new SelectList(CaseXL.Common.Repository.CaseTypes(), "ID", "Name")).Title("Case Type");

        columns.Bound(c => c.Case_Id).Title("").Width(38).Filterable(false).Sortable(false).Template(@<text></text>)
        .ClientTemplate(@"<img src='../Images/delete-icon.png'  title=""Delete Case"" style='width:38px; height:20px;cursor:pointer' class=""k-button-icontext k-grid-delete""/>");
    })
                .ToolBar(tol => tol.Create().Text("New Case"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(m => m.Case_Id))

                    .Read(read => read.Action("_Cases", "Case"))
                       .Update(up => up.Action("_UpdateCase", "Case"))
                       .Create(cr => cr.Action("_CreateCase", "Case"))
                       .Destroy(des => des.Action("_DeleteCase", "Case"))
                )
                  .Pageable()
                  .Groupable()
                  .Resizable(res => res.Columns(true)
                  )
                .Reorderable(red => red.Columns(true))
                .Navigatable(nav => nav.Enabled(true))
                .Sortable()
                .Selectable()
                .Filterable()
                .Editable(edit =>
                edit.Mode(GridEditMode.PopUp)

                ).Events(eve =>
        {
            eve.Edit("onEdit");


        }
            )

            )
    </div>
</script>
