@{
    ViewBag.Title = "Client Subscription";
}

<h3>  You have reached this page because you asked to collaborate with your client.  
    There is a monthly charge for this service.  
    Please provide your credit card information for a charge of $19 dollars to be paid monthly while you are collaborating with clients.  
    One payment covers an unlimited number of clients for collaboration.</h3>
