@{
    ViewBag.Title = "Welcome";
    
}

<h2>Welcome  @ViewBag.name<br />
    You subscription number is @ViewBag.subId</h2>
<input type="button" onclick="window.location='/Home/Main';" value="Go to Application" />