@model CaseXL.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<h3>An email will be sent to you</h3>
@Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Reset Password</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)

                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <p>
                <input type="submit" class="k-button actionButton" value="Reset" />
            </p>
        </fieldset>
    </div>
}