@{
    ViewBag.Title = "WebAdmin";
}

<h3>WebAdmin Portal</h3>
@(Html.Kendo().Grid<CaseXL.ViewModels.AppUserVM>().Name("grdusers")

    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Visible(false);
        columns.Bound(c => c.Full_Name);
        columns.Bound(c => c.Email);
        columns.Bound(c => c.Signup_Date).Format("{0:dd/MMM/yyyy}");

 
        
                .DataSource(dataSource => dataSource
                    .Ajax()


                    .Read(read => read.Action("_Users", "WebAdmin"))

                )
                  .Pageable()
                  .Groupable()
                  .Resizable(res => res.Columns(true)
                  )
                .Reorderable(red => red.Columns(true))
                .Navigatable(nav => nav.Enabled(true))
                .Sortable()
                .Selectable()
                .Filterable()
                )

<input type="button" class="k-button" onclick="BackToMain()" value="Home" />