@{
    ViewBag.Title = "WebAdmin";
}

<h3>WebAdmin Portal</h3>
@(Html.Kendo().Grid<CaseXL.ViewModels.AppUserVM>().Name("gridusers")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(m => m.Id))
        .Read(read => read.Action("_Users", "WebAdmin"))



    )
    .Columns(columns =>
    {

        columns.Bound(c => c.Id).Visible(false);
        columns.Bound(c => c.Email);
        columns.Bound(c => c.Signup_Date).Format("{0:MM/dd/yyyy}"); 

    })

    .Pageable()
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(ed => ed.Mode(GridEditMode.PopUp)

))


<input type="button" class="k-button" onclick="BackToMain()" value="Home" />